# Grafo de retweets

In [1]:
import pandas as pd
import glob
import unidecode as ud
import re
import json

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

Guardamos en una variable el nombre de nuestro hashtag o palabra clave.

In [2]:
hashtag = 'felizmiercoles'

In [3]:
tweets_data = []

tweets_file = open(f'../{hashtag}.jsonl', encoding = 'utf-8')

for line in tweets_file:
    tweet = json.loads(line)
    tweets_data.append(tweet)

tweets_file.close()

In [4]:
list_users_flattered = []

for item in tweets_data:
    list_users = item['includes']['users']
    for user in list_users:
        if 'location' in user:
            location = user['location']
        else:
            location = 'None'
        username = user['username']
        verified = user['verified']
        name = user['name']
        id_user = user['id']
        profile_image_url = user['profile_image_url']
        followers_count = user['public_metrics']['followers_count']
        following_count = user['public_metrics']['following_count']
        tweet_count = user['public_metrics']['tweet_count']
        listed_count = user['public_metrics']['listed_count']
        bio = user['description']
        created_at = user['created_at']
        if 'url' in user:
            url_list = user['entities']['url']['urls']
            url_end = []
            for url_unique in url_list:
                if 'expanded url' in url_unique:
                    url_end.append(url_unique['expanded_url'])
                elif 'expanded url' not in url_unique:
                    url_end.append(url_unique['url'])
        else:
            url_end = 'None'

        if 'entities' in user:
            if 'description' in user['entities']:
                if 'urls' in user['entities']['description']:
                    url_list2 = user['entities']['description']['urls']
                    url_end2 = []
                    for url_unique2 in url_list2:
                        url_end2.append(url_unique2['expanded_url'])
                else:
                    url_end2 = 'None'
        else:
            url_end2 = 'None'
        list_users_flattered.append([location,username,verified,name,id_user,profile_image_url,
        followers_count,following_count,tweet_count,listed_count,bio,created_at,url_end,url_end2])

In [5]:
users_df = pd.DataFrame(list_users_flattered,columns=['location','author','verified','name',
'id author','profile image url','followers','following','tweets','listed',
'description','created at','author url','description urls'])
users_df = users_df.drop_duplicates(subset='id author')

Abrimos el archivo del hashtag en pandas.

In [7]:
ht = pd.read_csv(f'../{hashtag}.txt',on_bad_lines='skip')
print('Número de tweets:',len(ht))
ht.head(2)

Número de tweets: 10391

,id tweet,date,text,lang,app,author,id author,name,description,location,created at,author url,description urls,profile image url,followers,following,tweets,relation,user retweeted,tweet hashtags,tweet urls,media keys,id tweet retweeted,media types,media urls,retrieved at
0,1593298280867323904,2022-11-17 17:41:26,"RT @yosoysexmex: Godínez no es tan estúpido después de todo. logró hipnotizar a su jefa para realizar sus deseos más perversos y probar esas enormes y carnosas tetas! ""Hipnotizada"" @Karicachonda7 y #RickyMartinez Link: https://t.co/qrqXqS1bbP https://t.co/8tX8LnUYU0 #SEXMEX #FelizMiercoles https://t.co/M0yiyRopuk",es,Twitter for iPhone,Biscositos,2384230938,Biscositos,"Somos Pareja, en busca de diversión, compartir fotos y experiencias etc.....si se da otra cosa porque no?....Cuenta creada y administrada por mi (Mujer)",México,2014-03-11 21:42:44,None,None,https://pbs.twimg.com/profile_images/443511399537315840/134wPIe8_normal.png,700,2092,40303,retweeted,yosoysexmex,"['RickyMartinez', 'SEXMEX', 'FelizMiercoles']","['https://sexmex.xxx/tour/updates/Mesmerized-Kari-Cachonda.html', 'http://SEXMEX.XXX', 'https://twitter.com/yosoysexmex/status/1593000961420627969/video/1']",['7_1592923712021532672'],1.593001e+18,['video'],['https://pbs.twimg.com/ext_tw_video_thumb/1592923712021532672/pu/img/GB1iTEcOCXU7CVwA.jpg'],2022-11-17 17:41:47
1,1593298003141574660,2022-11-17 17:40:20,"RT @JorgitoLRA: «Eso no se entiende ¿Quién le dio la orden a usted de nombrar un embajador?», dijo Cabello. Cabello al presidente uruguayo: no hace falta un embajador de su país @dcabellor #PatriaUnidaParaTriunfar #16Noviembre #FelizMiercoles #Qatar2022 #DebatirYRenovar https://t.co/yynsCEatC1",es,Twitter for Android,JoseRafaelbenc2,1041735251633102848,Topógrafo. JOSÉ ꃳEꋊꉔOMO Comunicador Clap Trujillo,"✊anti imperialista✊magallanero✊y radicalmente✊chavista, Leales Siempre,Traidores Nunca.🇻🇪🇹🇷🇷🇺🇨🇳 #ComunicadorClapTrujillo","Valera, Venezuela",2018-09-17 17:06:53,None,None,https://pbs.twimg.com/profile_images/1396299556439171072/jQWWOH20_normal.jpg,5717,5705,565271,retweeted,JorgitoLRA,"['PatriaUnidaParaTriunfar', '16Noviembre', 'FelizMiercoles', 'Qatar2022', 'DebatirYRenovar']",['https://twitter.com/JorgitoLRA/status/1593079107725963265/photo/1'],['3_1593079105213325313'],1.593079e+18,['photo'],['https://pbs.twimg.com/media/FhvBAXVWYAEpdhk.jpg'],2022-11-17 17:41:47

In [8]:
info_users = users_df.drop_duplicates(subset='author',keep='first')
info_users = info_users[['author','name','id author','created at',
                         'author url','description urls','profile image url','followers','following','tweets']]
#info_users['name'] = info_users['name'].apply(lambda x:ud.unidecode(x))
info_users['id author'] = info_users['id author'].apply(lambda x:str(x))

In [9]:
info_users

,author,name,id author,created at,author url,description urls,profile image url,followers,following,tweets
0,Biscositos,Biscositos,2384230938,2014-03-11T21:42:44.000Z,None,None,https://pbs.twimg.com/profile_images/443511399537315840/134wPIe8_normal.png,700,2092,40303
1,yosoysexmex,Sexmex,1505249117739655169,2022-03-19T18:26:48.000Z,[https://t.co/KRTm2rZj6W],[http://sexmex.xxx/casting/],https://pbs.twimg.com/profile_images/1505260053988880388/WE0QUR3J_normal.jpg,257757,163,2129
2,JoseRafaelbenc2,Topógrafo. JOSÉ ꃳEꋊꉔOMO Comunicador Clap Trujillo,1041735251633102848,2018-09-17T17:06:53.000Z,None,None,https://pbs.twimg.com/profile_images/1396299556439171072/jQWWOH20_normal.jpg,5717,5705,565271
3,JorgitoLRA,☭orgito,1490128930967273474,2022-02-06T01:03:36.000Z,None,None,https://pbs.twimg.com/profile_images/1591566848243400711/KwYfFW0n_normal.jpg,849,950,24822
4,Yogi60353758,Yogi,1589306423468756992,2022-11-06T17:19:25.000Z,None,None,https://pbs.twimg.com/profile_images/1589307011132698624/w0OeiR6Z_normal.jpg,25,46,211
...,...,...,...,...,...,...,...,...,...,...
17108,clubplaneta,Clubplaneta,86727483,2009-11-01T14:04:56.000Z,[http://t.co/dzzFHTtMtw],None,https://pbs.twimg.com/profile_images/502590997/cp_normal.gif,155,12,9369
17109,elmundoconella,elmundoconella,4464823161,2015-12-13T00:50:42.000Z,[https://t.co/AAYO1Cujnh],None,https://pbs.twimg.com/profile_images/1420454686084186118/QwMnQ6i8_normal.jpg,4402,3209,14866
17111,twdepatria,twdepatria,1570777809739563010,2022-09-16T14:14:24.000Z,None,None,https://pbs.twimg.com/profile_images/1572233757221916674/Nwy43QXg_normal.jpg,106,26,15506
17112,capegreco,Charis ⛵️,3257627983,2015-06-27T09:08:08.000Z,None,None,https://pbs.twimg.com/profile_images/1104052674058702849/N3xfpk3G_normal.jpg,17517,7165,241713
17113,mpineda1970,M Pineda .,853368966,2012-09-29T18:30:20.000Z,None,None,https://pbs.twimg.com/profile_images/1354851696111984643/brIG8ng8_normal.jpg,3730,4628,193171

In [10]:
ht = ht[ht['relation'] == 'retweeted']

In [11]:
links_in = ht['user retweeted'].value_counts().to_frame().reset_index()
links_in.columns = ['author','links in']
links_in

              author  links in
0         Ferdiybere       727
1          EGMorenoR       447
2             INAMEH       418
3      ElBaronNewsMX       381
4    Motivos14185270       313
..               ...       ...
973         Debbyvir         1
974    Goki_genyou12         1
975        felixns_7         1
976   LosDosDeShiwas         1
977  SamanthaYDonov1         1

[978 rows x 2 columns]

In [12]:
nodos_0_links_in = ht['author'].to_frame().drop_duplicates()
links_in = pd.concat([links_in,nodos_0_links_in],axis=0)
links_in = links_in.drop_duplicates(subset='author',keep='first')

In [13]:
links_out = ht['author'].value_counts().to_frame().reset_index()
links_out.columns = ['author','links out']
links_out

               author  links out
0     TrasElValle_OBC        457
1          jjaranaz94         59
2     JoseRafaelbenc2         47
3           jramiroMX         22
4        isa_carriles         20
...               ...        ...
6450  Fernand79162217          1
6451     NoChvezCano1          1
6452      Rich4rd2016          1
6453  AnaPedr39905648          1
6454      mpineda1970          1

[6455 rows x 2 columns]

In [14]:
nodos = links_in.merge(links_out,on='author',how='left')

In [15]:
nodos['links in'] = nodos['links in'].fillna(0)
nodos['links out'] = nodos['links out'].fillna(0)

In [16]:
nodos['total links'] = nodos['links in'] + nodos['links out']
nodos = nodos.reset_index()
nodos = nodos[['index','author','total links','links in','links out']]
nodos['total links'] = nodos['total links'].apply(lambda x:int(x))
nodos['links in'] = nodos['links in'].apply(lambda x:int(x))
nodos['links out'] = nodos['links out'].apply(lambda x:int(x))

In [17]:
nodos = nodos.merge(info_users,on='author',how='left')

In [18]:
nodos

,index,author,total links,links in,links out,name,id author,created at,author url,description urls,profile image url,followers,following,tweets
0,0,Ferdiybere,727,727,0,Fer y edith bere,2280695706,2014-01-07T14:48:27.000Z,[https://t.co/wvURdlDlLG],[https://onlyfans.com/u86505790],https://pbs.twimg.com/profile_images/1573479663283871756/Vfaf_4mS_normal.jpg,506586,21,867
1,1,EGMorenoR,447,447,0,Esio Moreno,1565040658620026880,2022-08-31T18:16:47.000Z,None,None,https://pbs.twimg.com/profile_images/1573043522562920452/bryaSkS7_normal.jpg,1260,2902,3231
2,2,INAMEH,418,418,0,INAMEH,65629788,2009-08-14T13:05:48.000Z,[https://t.co/VflB64uWad],None,https://pbs.twimg.com/profile_images/1583251251172704256/YtOWCFu8_normal.jpg,713529,333,99806
3,3,ElBaronNewsMX,381,381,0,EL BARON NEWS ™️,1579193477203693568,2022-10-09T19:34:46.000Z,None,None,https://pbs.twimg.com/profile_images/1582737730244689920/t4CdYqqx_normal.jpg,12977,10565,356
4,4,Motivos14185270,313,313,0,🦋🄼🄾🅃🄸🅅🄾🅂🦋,1298749563558387715,2020-08-26T22:30:10.000Z,None,None,https://pbs.twimg.com/profile_images/1482100220196495361/XXHRaZ8s_normal.jpg,53811,1108,2915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7297,7297,Alebrij22234719,1,0,1,Alebrije,1342999986376761346,2020-12-27T01:05:52.000Z,None,None,https://pbs.twimg.com/profile_images/1343000383321419777/DgSWZd3J_normal.jpg,370,381,31883
7298,7298,elmundoconella,1,0,1,elmundoconella,4464823161,2015-12-13T00:50:42.000Z,[https://t.co/AAYO1Cujnh],None,https://pbs.twimg.com/profile_images/1420454686084186118/QwMnQ6i8_normal.jpg,4402,3209,14866
7299,7299,twdepatria,1,0,1,twdepatria,1570777809739563010,2022-09-16T14:14:24.000Z,None,None,https://pbs.twimg.com/profile_images/1572233757221916674/Nwy43QXg_normal.jpg,106,26,15506
7300,7300,capegreco,1,0,1,Charis ⛵️,3257627983,2015-06-27T09:08:08.000Z,None,None,https://pbs.twimg.com/profile_images/1104052674058702849/N3xfpk3G_normal.jpg,17517,7165,241713
7301,7301,mpineda1970,1,0,1,M Pineda .,853368966,2012-09-29T18:30:20.000Z,None,None,https://pbs.twimg.com/profile_images/1354851696111984643/brIG8ng8_normal.jpg,3730,4628,193171

In [19]:
nodos['name'] = nodos['name'].fillna('None')
nodos['id author'] = nodos['id author'].fillna('None')
nodos['created at'] = nodos['created at'].fillna('None')
nodos['author url'] = nodos['author url'].fillna('None')
nodos['description urls'] = nodos['description urls'].fillna('None')
nodos['profile image url'] = nodos['profile image url'].fillna('None')
nodos['followers'] = nodos['followers'].fillna(0)
nodos['following'] = nodos['following'].fillna(0)
nodos['tweets'] = nodos['tweets'].fillna(0)

nodos['followers'] = nodos['followers'].apply(lambda x:int(x))
nodos['following'] = nodos['following'].apply(lambda x:int(x))
nodos['tweets'] = nodos['tweets'].apply(lambda x:int(x))

In [20]:
titulo_nodos = 'nodedef>name VARCHAR,label VARCHAR,total links INT,links in INT,links out INT,name VARCHAR,id user VARCHAR,created at VARCHAR,user url VARCHAR,description urls VARCHAR,avatar VARCHAR,followers INT,following INT,tweets INT\n'

In [21]:
with open(f'grafo_retweets_{hashtag}.gdf','w') as file:
    file.write(titulo_nodos)

In [22]:
nodos

,index,author,total links,links in,links out,name,id author,created at,author url,description urls,profile image url,followers,following,tweets
0,0,Ferdiybere,727,727,0,Fer y edith bere,2280695706,2014-01-07T14:48:27.000Z,[https://t.co/wvURdlDlLG],[https://onlyfans.com/u86505790],https://pbs.twimg.com/profile_images/1573479663283871756/Vfaf_4mS_normal.jpg,506586,21,867
1,1,EGMorenoR,447,447,0,Esio Moreno,1565040658620026880,2022-08-31T18:16:47.000Z,None,None,https://pbs.twimg.com/profile_images/1573043522562920452/bryaSkS7_normal.jpg,1260,2902,3231
2,2,INAMEH,418,418,0,INAMEH,65629788,2009-08-14T13:05:48.000Z,[https://t.co/VflB64uWad],None,https://pbs.twimg.com/profile_images/1583251251172704256/YtOWCFu8_normal.jpg,713529,333,99806
3,3,ElBaronNewsMX,381,381,0,EL BARON NEWS ™️,1579193477203693568,2022-10-09T19:34:46.000Z,None,None,https://pbs.twimg.com/profile_images/1582737730244689920/t4CdYqqx_normal.jpg,12977,10565,356
4,4,Motivos14185270,313,313,0,🦋🄼🄾🅃🄸🅅🄾🅂🦋,1298749563558387715,2020-08-26T22:30:10.000Z,None,None,https://pbs.twimg.com/profile_images/1482100220196495361/XXHRaZ8s_normal.jpg,53811,1108,2915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7297,7297,Alebrij22234719,1,0,1,Alebrije,1342999986376761346,2020-12-27T01:05:52.000Z,None,None,https://pbs.twimg.com/profile_images/1343000383321419777/DgSWZd3J_normal.jpg,370,381,31883
7298,7298,elmundoconella,1,0,1,elmundoconella,4464823161,2015-12-13T00:50:42.000Z,[https://t.co/AAYO1Cujnh],None,https://pbs.twimg.com/profile_images/1420454686084186118/QwMnQ6i8_normal.jpg,4402,3209,14866
7299,7299,twdepatria,1,0,1,twdepatria,1570777809739563010,2022-09-16T14:14:24.000Z,None,None,https://pbs.twimg.com/profile_images/1572233757221916674/Nwy43QXg_normal.jpg,106,26,15506
7300,7300,capegreco,1,0,1,Charis ⛵️,3257627983,2015-06-27T09:08:08.000Z,None,None,https://pbs.twimg.com/profile_images/1104052674058702849/N3xfpk3G_normal.jpg,17517,7165,241713
7301,7301,mpineda1970,1,0,1,M Pineda .,853368966,2012-09-29T18:30:20.000Z,None,None,https://pbs.twimg.com/profile_images/1354851696111984643/brIG8ng8_normal.jpg,3730,4628,193171

In [23]:
nodos.to_csv(f'grafo_retweets_{hashtag}.gdf',sep=',',index=False,header=False,mode='a')

In [24]:
def construir_ejes(row):
    source = row['author']
    target = row['user retweeted']
    directed = 'True'
    ejes_list.append([source,target,directed])

In [25]:
ejes_list = []

ht.apply(construir_ejes,axis=1)
None

In [26]:
ejes = pd.DataFrame(ejes_list,columns=['source','target','directed'])
ejes

               source          target directed
0          Biscositos     yosoysexmex     True
1     JoseRafaelbenc2      JorgitoLRA     True
2     JoseRafaelbenc2      JorgitoLRA     True
3        Yogi60353758     yosoysexmex     True
4          SR_ZOMBIE_        maryanmg     True
...               ...             ...      ...
8896  Alebrij22234719        untalabu     True
8897   elmundoconella   UnDestino_emm     True
8898       twdepatria       EGMorenoR     True
8899        capegreco        s_msonia     True
8900      mpineda1970  filosofo777usa     True

[8901 rows x 3 columns]

In [27]:
index = nodos[['author','index']]
index

               author  index
0          Ferdiybere      0
1           EGMorenoR      1
2              INAMEH      2
3       ElBaronNewsMX      3
4     Motivos14185270      4
...               ...    ...
7297  Alebrij22234719   7297
7298   elmundoconella   7298
7299       twdepatria   7299
7300        capegreco   7300
7301      mpineda1970   7301

[7302 rows x 2 columns]

In [28]:
index.columns = ['source','source index']

In [29]:
ejes = ejes.merge(index,on='source',how='left')

In [30]:
index.columns = ['target','target index']

In [31]:
ejes = ejes.merge(index,on='target',how='left')

In [32]:
ejes.columns = ['source label','target label','directed','source','target']
ejes = ejes[['source','target','source label','target label','directed']]
ejes

      source  target     source label    target label directed
0        978       6       Biscositos     yosoysexmex     True
1        979      33  JoseRafaelbenc2      JorgitoLRA     True
2        979      33  JoseRafaelbenc2      JorgitoLRA     True
3        980       6     Yogi60353758     yosoysexmex     True
4        981      12       SR_ZOMBIE_        maryanmg     True
...      ...     ...              ...             ...      ...
8896    7297      54  Alebrij22234719        untalabu     True
8897    7298     170   elmundoconella   UnDestino_emm     True
8898    7299       1       twdepatria       EGMorenoR     True
8899    7300      93        capegreco        s_msonia     True
8900    7301     156      mpineda1970  filosofo777usa     True

[8901 rows x 5 columns]

In [33]:
ejes['weight'] = ejes.groupby(['source','target']).source.transform('size')

In [34]:
ejes = ejes.drop_duplicates(subset=['source','target'])

In [35]:
ejes = ejes.sort_values(by='weight',ascending=False)

In [36]:
titulo_ejes = 'edgedef>node1 VARCHAR,node2 VARCHAR,node1 name VARCHAR,node2 name VARCHAR,directed BOOLEAN,weight INT\n'

In [37]:
with open(f'grafo_retweets_{hashtag}.gdf',mode='a') as file:
    file.write(titulo_ejes)

In [38]:
ejes.to_csv(f'grafo_retweets_{hashtag}.gdf',sep=',',index=False,header=False,mode='a')